.RepoList-CurrentRepo {
  position: relative;
  top: 1px;
  padding-bottom: 18px;
  border-bottom: solid 3px #ff4f49;
}

@media (max-width: 360px) {
  .RepoList-CurrentRepo {
    top: 5px;
    padding-bottom: 16px;
  }
}