.Table {
  	margin: 0 32px;
}

.Table-Row {
	display: grid;

	padding: 16px 8px 12px;
	border-bottom: solid 1px #f2f2f2;
}

.Table-Row:last-child {
	border-bottom: none;
}

.Table-Row_header {
	padding: 16px 8px 8px;
	border-bottom: solid 1px #e5e5e5;

	color: #b8bec3;
	font-weight: bold;
}

.Table-Row_files {
  	grid-template-columns: 4fr 4fr 7.5fr 3.5fr 3fr;
}

.Table-Row_branches {
	display: flex;
	justify-content: space-between;
}

.Table-Icon {
	margin-right: 8px;
}

.Table-Cell_content_name {
	font-weight: bold;

	cursor: pointer;
}

.Table-Cell_content_hash {
	color: #1774e9;
}

.Table-Cell_content_commiter::first-letter {
	color: #ff3029;
}

.Table-Cell:last-child,
.Table-Cell_content_date {
	text-align: right;
}

.Table-Button {
	display: none;
}

@media (max-width: 360px) {
	.Table {
		margin: 0 16px;
	}

	.Table-Row {
	  position: relative;

	  padding: 12px 0;
	}

  	.Table-Row_header {
	 	display: none;
  	}

  	.Table-Row_files {
	  	grid-template-areas: 'name name name' 'message message message' 'hash author date';
	  	grid-template-columns: 0.8fr auto 2fr;
  	}

  	.Table-Row_branches {
	  	flex-direction: column;
  	}

	.Table-Cell_content_name {
		grid-area: name;

		padding-bottom: 10px;
	}

	.Table-Cell_content_hash {
		grid-area: hash;

		padding-right: 8px;

		text-align: left;
	}

	.Table-Cell_content_message {
		grid-area: message;

		padding-bottom: 9px;
	}

	.Table-Cell_content_commiter {
	  	grid-area: author;
	}

	.Table-Cell_content_commiter::before {
	  	content: 'by ';
	}

	.Table-Cell_content_date {
		grid-area: date;

		text-align: left;
	}

	.Table-Cell_content_date::before {
		content: ',  ';
	}

	.Table-Button {
		display: block;

		position: absolute;
		top: calc(50% - 10px);
		right: -5px;

		width: 25px;
		height: 25px;

		fill: #E5E5E5;

		transform: rotate(-90deg);
	}
}
