@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.BranchList {
	display: inline-block;

	position: relative;

	margin-bottom: 10px;

    @include xs {
		position: static;
		margin-bottom: 4px;
	}

    &-CurrentBranch {
        color: $gray2;
        font-size: 24px;
        line-height: 28px;
    }

    &-Arrow {
        display: inline-block;

        position: relative;
        top: 4px;

        width: 14px;
        height: 14px;

        margin-left: 8px;

        fill: $gray2;

        cursor: pointer;

        &_open {
            left: -3px;
            top: -2px;

            transform: rotate(180deg);
        }
    }

    &-Dropdown {
        position: absolute;
        z-index: 5;
        top: 30px;
        left: 0;

        width: 320px;

        margin: 0;
        padding: 0;
        border-radius: 5px;

        list-style-type: none;

        background: #fff;
        box-shadow: $shadow;

        &_closed {
            display: none;
        }

        @include xs {
            position: fixed;
            top: auto;
            bottom: 0;
            left: 0;

            width: 100%;

            padding-top: 24px;
            border-radius: 10px 10px 0 0;

            &::before {
                content: '';

                position: absolute;
                top: 8px;
                left: calc(50% - 21px);

                width: 42px;
                height: 4px;

                border-radius: 10px;
                background: $lightGray1;
            }
        }
    }

    &-Break {
        margin: 0 12px;
        border: none;
        border-top: solid 1px $lightGray1;
    }

    &-Item {
        margin: 0;
        padding: 10px 12px 6px;

        color: $gray1;
        font-weight: bold;

        &:hover {
            cursor: pointer;

            background: #f4f5f6;
            color: #000;

            & .BranchList-LastCommit {
                color: $gray1;
            }
        }

        &_selected,
        &_selected:hover {
            margin: 4px 0;
            padding: 10px 12px 6px;

            cursor: auto;

            background: #4f4f4f;
            color: #f2f2f2;

            & .BranchList-LastCommit {
                color: #e0e0e0;
            }
        }
    }

    &-LastCommit {
        margin-top: 2px;

        font-size: 13px;
        line-height: 20px;
        font-weight: normal;

        color: $gray2;
    }
}
