.Current {
  	margin: 12px 32px 0;
}

.Current-Name {
	display: inline-block;

	margin-bottom: 10px;

	font-size: 24px;
	line-height: 28px;
	font-weight: bold;
}

.Current-LastCommit_blue {
	color: #1774e9;
}

.Current-LastCommit_commiter {
	display: inline-block;
}

.Current-LastCommit_commiter::first-letter {
	color: #ff3029;
}

@media (max-width: 360px) {
  	.Current {
    	margin: 10px 16px 0;
  	}

	.Current-Name {
		margin-bottom: 4px;
	}
}