.Tabs {
  	margin: 18px 32px 0;
  	border-bottom: solid 1px #e5e5e5;
	padding-left: 0;

	list-style-type: none;
}

.Tabs-Item {
	display: inline-block;

	position: relative;
	top: 1px;

	margin-right: 36px;
	padding-bottom: 8px;

	font-size: 16px;
	line-height: 20px;
	font-weight: bold;

	color: #7f8285;
}

.Tabs-Item_active {
	border-bottom: solid 3px #ff4f49;

	color: inherit;
}

@media (max-width: 360px) {
  	.Tabs {
    	margin: 16px;
    	margin-bottom: 0;
  	}
}