.Table-Cell_content_date {
  text-align: right;
}
@media (max-width: 360px) {
  .Table-Cell_content_date {
    text-align: left;
    grid-area: date;
  }
  .Table-Cell_content_date::before {
    content: ',  ';
  }
}