.Table-Row {
  display: grid;
  padding: 16px 8px 12px;
  border-bottom: solid 1px #f2f2f2;
}
.Table-Row:last-child {
  border-bottom: none;
}
@media (max-width: 360px) {
  .Table-Row {
    position: relative;
    padding: 12px 0;
  }
}