$black: #000;

$gray1: #434445;
$gray2: #7f8285;
$gray3: #8694a2;
$gray4: #999;
$gray5: #b8bec3;

$lightGray1: #e5e5e5;
$lightGray2: #f0f2f3;
$lightGray3: #f5f5f5;

$white: #fff;

$blue: #1774e9;
$darkBlue: #00234b;

$red: #ff3029;

$shadow: 0 4px 16px rgba(53, 73, 93, 0.2);