body {
	margin: 0;

	font-family: 'Arial', sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
}

* {
	box-sizing: border-box;
}

pre {
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}
