@import './mixins.scss';

body {
	margin: 0 32px;

      @include sm {
		margin: 0 16px;
	}

	font-family: 'Arial', sans-serif;
	font-size: 14px;
	line-height: 20px;
}

* {
	box-sizing: border-box;
}

pre {
	margin: 0;
}

a {
	display: block;

	text-decoration: none;
	color: inherit;
}

button {
	border: none;
	padding: 0;

	background-color: inherit;

	&:focus:not(:focus-visible) {
		outline: 0;
	}

	&:focus-visible {
		outline: -webkit-focus-ring-color auto 1px;
	}
}
