@import './mixins.scss';

body {
	margin: 0 32px;

      @include sm {
		margin: 0 16px;
	}

	font-family: 'Arial', sans-serif;
	font-size: 14px;
	line-height: 20px;
}

* {
	box-sizing: border-box;
}

pre {
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}
