@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.RepoList {
	position: relative;

	margin-right: 15px;

	@include xs {
		position: static;

		margin-right: 0;
	}

	&-Current {
		position: relative;
		top: 1px;

		padding-bottom: 18px;
		border-bottom: solid 3px #ff4f49;

		line-height: 18px;
		font-weight: bold;
	}

	&-Title {
		font-weight: normal;
	}

	&-Arrow {
		display: inline-block;

		position: relative;
		left: 3px;
		top: -3px;

		cursor: pointer;

		fill: $black;

		transform: rotate(180deg);

		&_closed {
			left: 6px;
			top: 7px;

			transform: none;
		}
	}

	&-Dropdown {
		position: absolute;
		z-index: 10;
		top: 40px;
		width: 266px;

		margin: 0;
		padding: 0;

		list-style-type: none;
		background: $white;
		box-shadow: $shadow;

		&_closed {
			display: none;
		}

		@include sm {
			right: 12px;
		}

		@include xs {
			position: fixed;
			top: auto;
			bottom: 0;
			left: 0;

			width: 100%;

			padding-top: 16px;
			border-radius: 10px 10px 0 0;

			&::before {
				content: '';

				position: absolute;
				top: 8px;
				left: calc(50% - 21px);

				width: 42px;
				height: 4px;

				border-radius: 10px;
				background: $lightGray1;
			}
		}
	}

	&-Break {
        margin: 0 12px;
        border: none;
        border-top: solid 1px $lightGray1;
    }

	&-Item {
		padding: 8px 22px;

		&:hover {
			cursor: pointer;

            background: #f4f5f6;
		}

		&_selected,
		&_selected:hover {
			margin: 4px 0;

            background: #4f4f4f;
            color: #f2f2f2;

			cursor: auto;
        }
	}
}
