@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.RepoList {
	position: relative;

	@include xs {
		position: static;
	}

	&-Current {
		position: relative;
		top: 1px;

		padding-bottom: 18px;
		border-bottom: solid 3px #ff4f49;

		line-height: 18px;
		font-weight: bold;
	}

	&-Title {
		font-weight: normal;
	}

	&-Arrow {
		position: relative;
		left: 6px;
		top: 7px;

		cursor: pointer;

		fill: #000;
	}

	&-Dropdown {
		position: absolute;
		z-index: 10;
		top: 40px;
		width: 266px;

		margin: 0;
		padding: 14px 22px 18px;

		list-style-type: none;
		background: #fff;
		box-shadow: $shadow;

		&_closed {
			display: none;
		}

		@include xs {
			position: fixed;
			top: auto;
			bottom: 0;
			left: 0;

			width: 100%;

			padding: 36px 16px 24px;
			border-radius: 10px 10px 0 0;

			&::before {
				content: '';

				position: absolute;
				top: 8px;
				left: calc(50% - 21px);

				width: 42px;
				height: 4px;

				border-radius: 10px;
				background: $lightGray1;
			}
		}
	}

	&-Item {
		margin-bottom: 16px;

		@include xs {
			margin-bottom: 24px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}
