@import '../../styles/colors.scss';

.Viewer {
  	border: solid 1px $lightGray1;
  	border-radius: 4px 4px 0 0;

    &-Header {
        display: flex;
        justify-content: space-between;

        position: relative;

        border-bottom: solid 1px $lightGray1;
        padding: 15px 16px 8px;

        background: $lightGray3;
    }

    &-Content {
        overflow: auto;

        padding: 6px 24px;

        font-family: 'PT Mono', monospace;
        word-wrap: break-word;
        font-size: 12px;
        line-height: 20px;

        color: $darkBlue;
    }

    &-LineNumber {
        display: inline-block;

        width: 45px;

        padding-right: 24px;

        text-align: right;

        color: $gray4;
    }
}
