.BreadCrumbs {
  	margin: 0 32px;
  	padding: 12px 0 10px;

  	border-bottom: solid 1px #e5e5e5;

	list-style-type: none;

  	word-wrap: break-word;
}

.BreadCrumbs-Item {
	display: inline;

	line-height: 24px;
	word-spacing: 0.8em;

	font-weight: bold;
}

.BreadCrumbs-Link {
	color: #7f8285;
	font-weight: normal;
}

@media (max-width: 360px) {
  	.BreadCrumbs {
    	margin: 0 16px;
    	padding-bottom: 8px;
  	}
}