@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.Footer {
	display: flex;
	justify-content: space-between;

	padding: 18px 0 14px;
	border-top: solid 1px $lightGray2;

	font-size: 13px;
	line-height: 18px;

	color: $gray2;

	@include xs {
		display: none;
	}

	&-Link {
		color: $blue;
	}

	&-Version {
		margin-right: 32px;
	}
}

