.Table {
  	margin: 0 32px;

    @media (max-width: 360px) {
		margin: 0 16px;
	}

	&-Row {
		display: grid;

		padding: 16px 8px 12px;
		border-bottom: solid 1px #f2f2f2;

        @media (max-width: 360px) {
            position: relative;

            padding: 12px 0;
        }

		&_header {
			padding: 16px 8px 8px;
			border-bottom: solid 1px #e5e5e5;

			color: #b8bec3;
			font-weight: bold;

            @media (max-width: 360px) {
                display: none;
            }
		}

        &_type {
            &_files {
                grid-template-columns: 4fr 4fr 7.5fr 3.5fr 3fr;

                @media (max-width: 360px) {
                    grid-template-areas: 'name name name' 'message message message' 'hash author date';
                    grid-template-columns: 0.8fr auto 2fr;
                }
            }

            &_branches {
                display: flex;
                justify-content: space-between;

                @media (max-width: 360px) {
                    flex-direction: column;
                }
            }
        }

		&:last-child {
			border-bottom: none;
		}
	}

    &-Icon {
        margin-right: 8px;
    }

    &-ArrowButton {
        display: none;

        @media (max-width: 360px) {
            display: block;

            position: absolute;
            top: calc(50% - 25px);
            right: -5px;

            width: 25px;
            height: 25px;

            fill: #E5E5E5;
        }
    }

    &-Cell {
        &:last-child {
            text-align: right;
        }

        &_content {
            &_name {
                font-weight: bold;

	            cursor: pointer;

                @media (max-width: 360px) {
                    grid-area: name;

                    padding-bottom: 10px;
                }
            }

            &_hash {
                color: #1774e9;

                @media (max-width: 360px) {
                    grid-area: hash;

                    padding-right: 8px;

                    text-align: left;
                }
            }

            &_message {
                @media (max-width: 360px) {
                    grid-area: message;

                    padding-bottom: 9px;
                }
            }

            &_commiter {
                @media (max-width: 360px) {
                    grid-area: author;

                    &::before {
                        content: 'by ';
                    }
                }

                &::first-letter {
                    color: #ff3029;
                }
            }

            &_date {
                text-align: right;

                @media (max-width: 360px) {
                    grid-area: date;

                    text-align: left;

                    &::before {
                        content: ',  ';
                    }
                }
            }
        }
    }
}
