@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.Table {
	&-Row {
		display: grid;

		padding: 16px 8px 12px;
		border-bottom: solid 1px #f2f2f2;

        @include md {
            position: relative;

            padding: 12px 0;
        }

		&_header {
			padding: 16px 8px 8px;
			border-bottom: solid 1px $lightGray1;

			color: $gray5;
			font-weight: bold;

            @include md {
                display: none;
            }
		}

        &_type {
            &_files {
                grid-template-columns: 4.5fr 3.5fr 7.5fr 3fr 3.5fr;

                @include md {
                    grid-template-areas: 'name name name' 'message message message' 'hash commiter date';
                    grid-template-columns: 0.8fr auto 2fr;
                }
            }

            &_branches {
                display: flex;
                justify-content: space-between;

                @include sm {
                    flex-direction: column;
                }
            }
        }

		&:last-child {
			border-bottom: none;
		}
	}

    &-Icon {
        margin-right: 8px;
    }

    &-ArrowButton {
        display: none;

        @include md {
            display: block;

            position: absolute;
            top: calc(50% - 15px);
            right: -5px;

            width: 20px;
            height: 20px;

            fill: $lightGray1;
        }
    }

    &-Cell {
        &:last-child {
            text-align: right;
        }

        &_content {
            &_name {
                font-weight: bold;

	            cursor: pointer;

                @include md {
                    grid-area: name;

                    padding-bottom: 10px;
                }
            }

            &_hash {
                color: $blue;

                @include md {
                    grid-area: hash;

                    padding-right: 8px;

                    text-align: left;
                }
            }

            &_message {
                @include md {
                    grid-area: message;

                    padding-bottom: 9px;
                }
            }

            &_commiter {
                @include md {
                    grid-area: commiter;

                    &::before {
                        content: 'by ';
                    }
                }

                &::first-letter {
                    color: $red;
                }
            }

            &_date {
                text-align: right;

                @include md {
                    grid-area: date;

                    text-align: left;

                    &::before {
                        content: ',  ';
                    }
                }
            }
        }
    }
}
