@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.BreadCrumbs {
  	padding: 12px 0 10px;
    margin: 0;

  	border-bottom: solid 1px $lightGray1;

	list-style-type: none;

  	word-wrap: break-word;

    @include xs {
        padding-bottom: 8px;
    }

    &-Item {
        display: inline;

        line-height: 24px;
        word-spacing: 0.8em;

        font-weight: bold;
    }

    &-Link {
        color: $gray2;
        font-weight: normal;

        cursor: pointer;
    }
}
