@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.Current {
  	margin-top: 12px;

	@include xs {
    	margin-top: 10px;
  	}

	&-Name {
		display: inline-block;

		margin-bottom: 10px;
		margin-right: 8px;

		font-size: 24px;
		line-height: 28px;
		font-weight: bold;

		@include xs {
			margin-bottom: 4px;
		}
	}

	&-LastCommit {
		&_style {
			&_blue {
				color: $blue;
			}

			&_commiter {
				display: inline-block;

				margin-left: 0.25em;

				&::first-letter {
					color: $red;
				}
			}
		}
	}
}

